<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <% if(htmlWebpackPlugin.options.trackJSToken) { %>
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
    <% } %>
  </head>
  <body>
    <h1>Users</h1>
    <table>
      <thead>
        <th>&nbsp</th>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
      </thead>
      <tbody id="users">

      </tbody>
    </table>
  </body>
</html>
